/lesson-4/code/HelloWorld/nbproject/private/
/lesson-4/code/HelloWorld/build/
/lesson-5/code/HelloWorldSwing/nbproject/private/
/lesson-5/code/HelloWorldSwing/build/
/lesson-5/code/HelloWorldJavaFX/nbproject/private/
/lesson-5/code/HelloWorldJavaFX/build/
/lesson-5/code/HelloWorldJavaFX/dist/
/lesson-5/code/HelloWorldSwing/dist/